{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}Reset your password{% endblock %}

{% block content %}
<div class="card mt-4">
  <div class="card-header">
    <h1 class="h4">Forgotten your password?</h1>
  </div>
  <div class="card-body">
    <p>Enter your email address to obtain a new password.</p>
    <form action="." method="post">
      {% csrf_token %}
      {{ form|crispy }}
      <div class="text-center">
        <button type="submit" class="btn btn-primary">Send email</button>
      </div>
    </form>
  </div>
</div>
{% endblock %}
