{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}Change your password{% endblock %}

{% block content %}
  <div class="container my-5">
    <h1 class="text-center">Change your password</h1>
    <div class="row justify-content-center">
      <div class="col-md-6">
        <form method="post">
          {% csrf_token %}
          {{ form|crispy }}
          <div class="text-center">
            <button class="btn btn-primary mt-3" type="submit">Change</button>
          </div>
        </form>
      </div>
    </div>
  </div>
{% endblock %}
